body{
    background-image: url(../multimedia/background.jpg);
    background-size: cover;
    background-position: cover;
}


*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    color: white;
}

.headerIndex{
    width: 100%;
    margin: auto;
    background-color:rgb(5, 38, 89, 0.4);
    border-radius: 3rcap;
    text-align: center;
    margin-bottom: 20px;
    border:2px solid rgb(0, 0, 255, 0.2);
    position: fixed;
}

.cabeceraIndex{
    font-size: 80px;
}

.editor {
    text-align: center;
    font-size: 40px;
    
}

.menuDesplegable{
    padding: 20px;
    text-align: center;
    width: 20%;
    margin: auto;
}

#tituloMenuIndex{
    background-color: rgba(160, 217, 249, 0.8);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: block;
    margin: auto;
    width: 100%;
    margin-top:220px;
}


.enlacesIndexMenu{
    display: none;
    margin: auto;
    background-color: rgb(193, 232, 255, 0.8);
    min-width: 160px;
}


.enlacesIndexMenu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px;

}

.menuDesplegable:hover .enlacesIndexMenu{
    display: block;
}

.enlacesIndexMenu a:hover {
    background-color: aquamarine;
}

.anuncios1Index{
    margin-right: 40px;
    position: absolute;
}

.anuncionIzquierda{
    width: 300px;
    height: 210vh;
}

.anuncios2Index {
    margin-left: 40px;
    position: absolute;
    right: 0;
}

.anuncioDerecha{
    width: 300px;
    height: 210vh;
    background-color: lightblue;
}

.informacionPrincipalIndex{
    text-align: justify;
    margin: auto;
    background-color: rgb(125, 160, 202, 0.4);
    height: 1000px;
    width: 60%;
    padding: 30px;
}

.informacionIndex{
    font-size: 20px;
    padding: 30px;
    background-color: beige;
    color: black;
}

.imagenFooterIndex{
    margin: auto;
    text-align: center;
}

#fotoDeFooterIndex{
    margin-top: 50px;
    width: 60%;
    height: 55vh;
    border: 2px solid white; 
    margin-bottom: 30px;  
}

.informacionHeaderIndex{
    background-color: #7DA0CA;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.informacionFooterIndex{
    background-color:rgba(139, 170, 216, 0.4);
    border-radius: 3rcap;
    text-align: center;
    position: fixed;
    left: 25%;
    right: 25%;
    bottom: 0;
}

#iconoCorreo{
    width: 50px;
    height: 50px;
    border: 2px solid white;
}
